<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="creditCard" class="payment.CreditCard" />
    <bean id="debitCard" class="payment.DebitCard" />
    <bean id="bkash" class="payment.BKash" />
    <bean id="paymentReceiver" class="payment.PaymentReceiver">
        <property name="payment" ref="bkash"/>
        <constructor-arg ref="creditCard" name="payment"/>
    </bean>

</beans>